[submodule "refuapp-backend"]
	path = refuapp-backend
	url = git@github.com:RefuAPP/refuapp-backend.git
[submodule "refuapp-frontend"]
	path = refuapp-frontend
	url = git@github.com:RefuAPP/refuapp-frontend.git
[submodule "refuge-sensor-server"]
	path = refuge-sensor-server
	url = git@github.com:RefuAPP/refuge-sensor-server.git
[submodule "refuapp-admin"]
	path = refuapp-admin
	url = git@github.com:RefuAPP/refuapp-admin.git
